/* The game is entirely rendered inside the canvas, so we don't need a lot of css.*/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* Forbid the scrolling, game is not scrollable */
    overflow: hidden;
    background-color:rgb(35, 49, 35);
}

/* Only one canvas (the whole screen) for the entire game*/
canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}